/*Configurar variáveis de ambiente*/
:root{
    --cor_fundo: rgb(204, 151, 225);
    --cor_main: rgb(184, 144, 195);
    --cor_main_dark: rgb(95, 47, 112);
}


/* Estilo geral da calculadora */
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor_fundo);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: #333;
}

/* Estilo das imagens */
.header {
    width: 20px; /* Defina o tamanho desejado para o ícone */
    height: 20px;
    margin-right: 10px; /* Espaço entre o ícone e a imagem centralizada */
    display: flex;
    align-items: center;
}

header h1 {
    color: var(--cor_main_dark);
    display: inline-block;
    margin: 0;
}


header figure img{
    width: 100px;
}

.aside {
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* Estilo dos campos de entrada e rótulos */
div {
    margin-left: 30%;
    margin-right: 30%;
}

label {
    font-weight: bold;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer{
    background: var(--cor_main_dark);
    color: #fff;
    margin-left: 30%;
    margin-right: 30%;
}

/* Estilo do botão de calcular */
#calcular {
    background-color: var(--cor_main_dark);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#calcular:hover {
    background-color: var(--cor_main_dark);
}

/* Estilo do resultado */
#resultado {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}
